<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tellh.androidlibraryarchitecturedemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".databinding.DataBindPrimaryPracticeActivity" />
        <activity android:name=".databinding.DataBindingRVActivity" />
        <activity android:name=".glide.GlideDemoActivity" />
        <activity android:name=".volley.VolleyDemoActivity" />
        <activity android:name=".okhttp.OkExampleActivity" />
        <activity android:name=".retrofit.RetrofitActivity" />
        <activity android:name=".rxjava.RxjavaDemoActivity" />
        <activity android:name=".rxjava.RxjavaAppListActivity" />
        <activity android:name=".rxjava.RxRetrofitDemoActivity" />
        <activity android:name=".dagger2.TargetActivity" />
        <activity android:name=".dagger2.MvpActivity" />
        <activity android:name=".leakcanary.LeakTestActivity" />
        <!-- <activity android:name=".rxjava.rxbus.RxBusDemoActivity"></activity> -->
        <activity android:name=".test.AndroidTestActivity"></activity>
    </application>

</manifest>